
*{
    padding: 0;
    margin: 0;
}

/*header*/
header {
    background-color: #f6beca;
    display: flex;
}

header img {
    width: 130px;
}

header ul {
    list-style: none;
}

header ul a {
    text-decoration: none;
    color: black;
}

/* main */

.banner {
    background-image: url(../img/banner.avif);
    height: 250px;
    background-repeat: no-repeat;
    background-position: right;
    background-color: #f6beca;
    font-size: 2rem;
    border: 3px rgb(255, 255, 255) solid;
}

h1 {
    color: #FBE8E7;
    text-align: center;
    width: auto;
    text-decoration: none;
    list-style-type: none;
    text-decoration: underline;
}

.textIndex {
    font-size: 1.8rem;
    text-align: center;
}

/* footer */

footer {
    background-color: #f6beca;

}

footer img {
    width: 60px;
}

footer p {
    font-size: 1.5rem;
}

/* servicios*/

/* main */

.MembresiaLogo {
    background-position: center;
    width: 1200px;
    height: 333px;
}