@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');

* {
    padding: 0;
    margin: 0;
}

html {
    font-family: 'Poppins', sans-serif;
}

h1,
h2,
h3 {
    font-weight: 300;
    text-transform: uppercase;
}

p {
    color: #222;
    font-size: 16px;
    max-width: 850px;
    margin: 0 auto 20px;
}

/*header*/
header {
    background-color: #f6beca;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0px;
}

header img {
    width: 130px;
    margin-top: 8px;
    margin-left: 8px;
}

nav {
    width: 50%;
}

header ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

header ul a {
    text-decoration: none;
    color: black;
}

/* main */

.banner {
    background-image: url(../img/banner.avif);
    height: 250px;
    background-repeat: no-repeat;
    background-position: right;
    background-color: #f6beca;
    font-size: 2rem;
    border: 3px rgb(255, 255, 255) solid;
}

h1 {
    color: #FBE8E7;
    text-align: center;
    width: auto;
    text-decoration: none;
    list-style-type: none;
    text-decoration: underline;
    margin-top: 7px;
}

.textIndex {
    margin-top: 20px;
    font-size: 1.3rem;
    text-align: center;
}

/* index */

ul,
ol {
    list-style: none;
}

.navv li a {
    background-color: #f6beca;
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}

.navv li a:hover {
    background-color: #f6beca;
}

.navv>li {
    float: left;
}

.navv li ul {
    display: none;
    position: absolute;
    min-width: 140px;
}

.navv li:hover>ul {
    display: block;
}

.extensionesdepestañas {
    text-align: center;
    margin-top: 100px;
    font-size: 20px;
}

.extensionesParrafo {
    margin-top: 30px;
    font-size: 20px;
}

.parrafo1 {
    margin-bottom: 20px;
}

.visitadefranquicia {
    color: #fff;
    background-color: #2a2a2a;
    display: inline-block;
    margin-bottom: 0;
    text-align: center;
    border: 1px solid transparent;
    text-decoration: none;
    position: relative;
    top: 0;
    font-size: 14px;
    padding: 14px 20px;
}

.h2staff {
    margin-top: 60px;
    text-align: center;
}

.valenyro {
    align-items: center;
    color: white;
    margin-top: 40px;
    border: 4px solid #f6beca;
    background: #757575;
    display: flex;
    margin-left: 70px;
    margin-right: 70px;
}

.franco {
    align-items: center;
    color: white;
    margin-top: 40px;
    margin-bottom: 40px;
    border: 4px solid #f6beca;
    background: #757575;
    display: flex;
    margin-left: 600px;
    margin-right: 600px;
}

/* franquicia */

.franquicias1 {
    max-width: 850px;
    margin-left: auto;
    margin-right: auto;
}

.imgfranqui {
    height: auto;
    max-width: 100%;
}

.h4franquicia {
    color: black;
    font-weight: 600;
}

.pfranqui {
    display: flexbox;
    align-items: flex-start;
}

/* sucursales */

.mapalash {
    display: flex;
    justify-content: space-evenly;
    margin-top: 60px;
    background-color: #757575;
    border: 4px solid #f6beca;
    margin-left: 100px;
    margin-right: 50px;
    margin-bottom: 60px;
}

.h2sucursal {
    font-size: 1.7rem;
    margin-top: 40px;
    text-align: center;
    color: #888;
}

.localidad1 {
    display: flex;
    justify-content: space-evenly;
    margin-top: 60px;
    background-color: #757575;
    border: 4px solid #f6beca;
    margin-left: 300px;
    margin-right: 300px;
    margin-bottom: 60px;
}

.localidad2 {
    display: flex;
    justify-content: space-evenly;
    margin-top: 60px;
    background-color: #757575;
    border: 4px solid #f6beca;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 60px;
}

.parrafolocal {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 60px;
    font-size: 1.1rem;
}

/*servicios*/

.logocontacto {
    align-items: center;
    background-color: transparent;
    width: 1600px;
    height: 430px;
    padding: 70px 200px;
}

.textservis {
    margin-top: 60px;
    text-align: center;
    font-size: 1.2rem;
}

.store {
    margin: 22px;
    padding: 27px;
    width: 390px;
}

.store2 {
    margin: 1px;
    padding: 20px;
    width: 500px;
}

.h2lash {
    font-weight: bold;
    color: #F9B5D5;
    text-align: center
}

.rosa-h3 {
    font-weight: bold;
}

.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
}

.flex>div {
    flex-basis: 22%;
}

.extensiones {
    border: 3px solid #F9B5D5;
    padding: 30px 20px 0;
    border-radius: 30px;
    margin-bottom: 40px;
    margin-left: 500px;
    margin-right: 500px;
}

/* tipos de extensiones */



.extensiones1 {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
    font-size: 1.2rem;
}

.extensiones2 {
    display: flex;
    background-color: #000;
    color: #e5e5e5;
    margin-bottom: 60px;
}

.parrafoextension2 {
    margin-top: 40px;
    margin-bottom: 40px;
}



.h2extensiones {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

/* footer */

.footerindex {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

footer {
    background-color: #f6beca;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
}

input[type="submit"] {
    background: #fff;
    color: #000;
    width: 100%;
    font-size: 18px;
    font-weight: 300;
    text-align: left;
    border: 1px solid #000;
    padding: 8px;
    margin-bottom: 10px;
}

input[type="text"],
select {
    border: 1px solid #e5e5e5;
    padding: 6px 4px;
    color: #888;
    margin: 0;
    width: 99%;
    display: block;
    margin-bottom: 20px;
    background: #fdfdfd;
    margin-top: 10px;
}

footer img {
    width: 70px;
    margin-top: 60px;
}

footer p {
    font-size: 1.5rem;
}