@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');

* {
    padding: 0;
    margin: 0;
}

html {
    font-family: 'Poppins', sans-serif;
}

/*header*/
header {
    background-color: #f6beca;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0px;
}

header img {
    width: 130px;
    margin-top: 8px;
    margin-left: 8px;
}

nav {
    width: 50%;
}

header ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

header ul a {
    text-decoration: none;
    color: black;
}

/* main */

.banner {
    background-image: url(../img/banner.avif);
    height: 250px;
    background-repeat: no-repeat;
    background-position: right;
    background-color: #f6beca;
    font-size: 2rem;
    border: 3px rgb(255, 255, 255) solid;
}

h1 {
    color: #FBE8E7;
    text-align: center;
    width: auto;
    text-decoration: none;
    list-style-type: none;
    text-decoration: underline;
}

.textIndex {
    font-size: 1.8rem;
    text-align: center;
}

/* servicios*/
/* main */
.MembresiaLogo {
    background-position: center;
    width: 1200px;
    height: 333px;
}

/* footer */

footer {
    background-color: #f6beca;

}

footer img {
    width: 60px;
}

footer p {
    font-size: 1.5rem;
}