@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');

* {
    padding: 0;
    margin: 0;
}

html {
    font-family: 'Poppins', sans-serif;
}

/*header*/
header {
    background-color: #f6beca;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0px;
}

header img {
    width: 130px;
    margin-top: 8px;
    margin-left: 8px;
}

nav {
    width: 50%;
}

header ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

header ul a {
    text-decoration: none;
    color: black;
}

/* main */

.banner {
    background-image: url(../img/banner.avif);
    height: 250px;
    background-repeat: no-repeat;
    background-position: right;
    background-color: #f6beca;
    font-size: 2rem;
    border: 3px rgb(255, 255, 255) solid;
}

h1 {
    color: #FBE8E7;
    text-align: center;
    width: auto;
    text-decoration: none;
    list-style-type: none;
    text-decoration: underline;
}

.textIndex {
    font-size: 1.8rem;
    text-align: center;
}

/*servicios*/

.logocontacto{ 
    background-color: transparent;
    width: 1600px;
    height: 550px;
    padding: 70px 200px;
}

.textservis{
    margin-top: 60px;
    text-align: center;
}

.store{
    background-color: black;
    margin: 10px;
    padding: 20px;
    width: 500px;
}

.h2lash {
    font-weight: bold;
    color: #F9B5D5;
    text-align: center
}

.rosa-h3 {
    font-weight: bold;
}

.flex{
    display: -webkit-box; display: -ms-flexbox; display: -webkit-flex; display: flex;
		justify-content: space-between;
}

.flex > div{
    flex-basis: 22%;
}

.extensiones {
    border: 2px solid #F9B5D5;
    padding: 30px 20px 0;
    border-radius: 30px;
    margin-bottom: 40px;

}



/* footer */

footer {
    background-color: #f6beca;

}

footer img {
    width: 60px;
}

footer p {
    font-size: 1.5rem;
}